html,
body {
width: 100%;
}

* {
    margin: 0;
}

img{
  width: 100%;
}

body {
    background-color: white;
    overflow: hidden;
}

#wrapperWrapper {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%!important;
  max-height: 100%!important;
  overflow: hidden;
    /*padding-bottom: 100px;*/
  }

.wrapper{
  position: absolute;
  margin: 0 auto;
  z-index: 1002;

}

.menu-item{
  float: left;
  padding: 5px 10px;
  font-family: Trickster;
  color:black;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #fff;
}

.menu-item ul{
  list-style: none;
}

.menu-area{
  overflow: hidden;
}

.menu-area ul li{
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.menu-area ul li a{
  display: inline-block;

}

.slick-track{
    display: flex !important;
}

.slick-list{
    height: 100%;
    height: inherit !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overtexte{
  display: block;
  width: 30%;
  font-family: Trickster;
  font-size: 1.5em;
  z-index: 99999;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #fff;
}

.content {
  width: 100%;
  height: 100%;
  /*margin: 0,auto;*/
}
